* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  font-size: 62.5%;
}

.topo {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #604829;
  gap: 70rem;
  position: fixed;
  z-index: 1;
}

.topo a {
  color: #c4a47c;
  font-family: 'Oswald', sans-serif;
  font-weight: 700;
  text-decoration: none;
  font-size: 2rem;
  padding-left: 2rem;
  text-shadow: 0.2rem 0.4rem black;
  text-transform: uppercase;
}

#img-logo {
  width: 6rem;
}

#banner, #contatos, #horarios {
  height: 100vh;
  background-attachment: fixed;
  background-position: center;
  background-size: cover;
}

#informacoes-1, #informacoes-2 {
  height: 50vh;
  background-attachment: fixed;
  background-position: center;
  background-size: cover;
  position: relative;
}

#banner {
background-image: url(./assets/parallax-imagem1.png);
position: relative;
padding: 20rem;
}

#banner h1 {
  position: absolute;
  font-size: 7rem;
  font-weight: 400;
  font-family: 'Fraunces', serif;
  color: #fff;
  text-transform: uppercase;
  top: 45%;
  text-align: c;
}

.container-texto{
  max-width: 102.4rem;
  padding: 0 2rem;
  margin: 4rem auto;
  text-align: center;
}

.container-texto h2 {
  color: #c4a47c;
  font-size: 2rem;
  font-family: 'Oswald', sans-serif;
  font-weight: 700;
  letter-spacing: 0.1rem;
}

.container-texto p {
  padding: 8rem 0rem;
  color: #666;
  font-size: 1.8rem;
  line-height: 3.5rem;
  text-align: justify;
}

#informacoes-1 {
  background-image: url(./assets/parallax-imagem2.jpg);
  display: flex;
  flex-direction: column;
}

#informacoes-2 {
  background-image: url(./assets/parallax-imagem3.jpg);
}

#informacoes h3 , #contatos h3{
  color: #fff;
  font-size: 2.5rem;
  font-family: 'Fraunces', serif;
  font-style: italic;
  letter-spacing: 0.3rem;
  background-color: #604829;
  position: absolute;
  top: 45%;
  left: 35%;
  padding: 1.5rem 2rem;
}

#contatos {
  height: auto;
  padding: 10rem 2rem;
  background-image: url(./assets/parallax-imagem4.png);
  background-position: center;
  background-size: cover;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
}

#contatos h3 {
  text-align: center;
  font-style: normal;
  position: absolute;
  top: 2rem;
}

#contatos .paragrafo-contatos {
  width: 50rem;
  color: #fff;
  font-size: 1.8rem;
  text-align: center;
  background-color: #604829;
  padding: 1rem;
}

#contatos .paragrafo-contatos p {
  line-height: 3rem;
  font-size: 1.6rem;
  font-family: 'Lato', sans-serif;
}

#contatos iframe {
  max-width: 76.8rem;
  padding-bottom: 5rem;
}

#horarios {
  height: auto;
  padding: 10rem 2rem;
  background-image: url(./assets/cafeteria.jpg);
  background-position: center;
  background-size: cover;
  display: flex;
  flex-direction: column;
  align-items: center;
}

#horarios h2, #horarios ul li h3, 
#horarios ul li p,#horarios ul li span {
  text-transform: uppercase;
  font-family: 'Oswald', sans-serif;
}

#horarios h2 {
  margin-bottom: 3rem;
  color: #fff;
  font-size: 2.8rem;
  text-align: center;
  letter-spacing: 0.2rem;
}

#horarios ul {
  width: 100%;
  max-width: 76.8rem;
}

#horarios ul li {
  margin-bottom: 1.5rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 2rem;
}

#horarios ul li h3 {
  color: #fff;
  font-size: 2.5rem;
  flex: 0 1 10rem;
}

#horarios ul li p {
  color: #ACACAC;
  font-size: 2rem;
}

#horarios ul li span {
  color: #c4a47c;
  font-size: 2.5rem;
  font-weight: 700;
}

#horarios ul li p,
#horarios ul li span {
  text-align: right;
  flex: 0 1 12rem;

}

#horarios ul li .horarios-linha {
  background-color: #665;
  height: 0.1rem;
  flex: 1 1 auto;
}

footer {
  position: relative;
  background-color: #000;
  width: 100%;
  height: 8rem;
  text-align: center;
  padding-top: 2rem;
}

#seta-rodape{
  position: absolute;
  right: 10rem;
  bottom: 3.5rem;
}


footer p {
  color: #fff;
  font-family: 'Lato', sans-serif;
  font-size: 1.5rem;
  line-height: 2rem;
}

footer a {
  text-decoration: none;
  font-weight: bold;
  color: #fff;
}

footer span {
  color: #c4a47c;
}